# Node.js
node_modules/

# Logs
logs
*.log

# dotenv environment variables file
.env
.env.test
.env.*.local

# Nuxt.js build / generate output
dist

# VS Code settings
.vscode/

# Mac system files
.DS_Store